---
interface Props {
  id?: string;
  title?: string;
  class?: string;
  spacing?: "default" | "none";
}

const { id, title, class: className, spacing = "default" } = Astro.props;
---

<section
  id={id}
  class:list={["section", `section--spacing-${spacing}`, className]}
>
  {title && <div class="section-title">{title}</div>}
  <slot />
</section>

<style>
  .section--spacing-default {
    margin-top: var(--section-spacing);
  }

  .section--spacing-none {
    margin-top: 0;
  }

  @media (max-width: 800px) {
    .section--spacing-default {
      margin-top: var(--section-spacing-mobile);
    }
  }
</style>
