---
import "../styles/global.css";
import { site } from "../config/site";

const { title = site.title, description = site.description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nikolaostolis.com" />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>

  <body>
    <slot />
  </body>
</html>
